<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <link href="../static/css/graf-draw-tool.css" rel="stylesheet" type="text/css" /> -->
  <!-- <link href="../static/css/draw-area-style.css" rel="stylesheet" type="text/css" />   -->
  <!-- <link href="../static/css/config-elements.css" rel="stylesheet" type="text/css" /> -->
</head>
<body>
  <!-- <svg id="LateralElementsBar">
    <rect x="0" y="0" widht="50" heigth="50" fill="blue"/>
  </svg>
  <svg id="DrawArea">
  </svg> -->
  <!-- <svg id="AAAA">
    <polygon class="element" points="50,5 90,90 10,90" fill="green" />
    <line class="element" x1="10" y1="10" x2="10" y2="90" stroke="green" width="5" />
  </svg> -->
  <iframe frameborder="0" style="width:100%;height:100vh;" src="https://viewer.diagrams.net/?tags=%7B%7D&highlight=0000ff&edit=_blank&layers=1&nav=1&title=Grafo_malha_rumo.drawio#RjZPBboMwDIafhuMkICqF48a6TZqmHSpt024pGIgaYpS6hfbpF0gooKrSciH%2B%2FsRJfhuPpXX3qnlTfWAO0gv9vPPYsxeGQRCvzKcnZ0uiJLCg1CK3yJ%2FAVlzA7XTwKHI4LBAhShLNEmaoFGS0YFxrbJfLCpT5AjS8hBuwzbi8pd8ip8rSOFxP%2FA1EWY0nB1FilR3P9qXGo3LneSHzh2Hlmo%2B5HDhUPMd2htjGY6lGJDuruxRkb%2B3StZc76vXeGhT9ZwOcLsQ%2BHy8JU6ffHZbv6ufrwWU5cXmE8RnDZek8GkRacFX20VNbCYJtw7Neak07GFZRLU0UmKlG4iRQmTDxTVwIKVOUqIdExp2Y%2Bz0%2FkMY9LJTVelAKVDTjxTAMd7cETdDdfX5wNdX0KmANpM9midvA1q6irk0DZsN2KnrkKlXN6h07xl2bldfEk9Vm4twew6mqgzb7c9jmDw%3D%3D"></iframe>
</body>
  <script>
    function drawRoutes() {
      const drawArea = document.querySelector(`#AAAA`)
      const elementsList = drawArea.querySelectorAll('.element')
      var points = []

      const drawAreaWidth = drawArea.clientWidth
      const drawAreaHeight = drawArea.clientHeight

      const centerX = drawAreaWidth / 2
      const centerY = drawAreaHeight / 2

      var a = 0
      if (drawArea.children.length > 0) {

        console.log(drawArea)
          elementsList.forEach(element => {
          const atributos = {
            // "id": `${point}`,
            // "cx": `${centerX}`,
            // "cy": `${centerY}`, 
            "transform": `translate(${centerX-40},${0})`,
            "r": "10",
            "fill": "red",
            "stroke": "black",
            "stroke-width": "5"
          }
          
          Object.entries(atributos).forEach(([chave, valor]) => {
              element.setAttribute(chave, valor)
          })
        })
        // var circle = document.createElementNS("http://www.w3.org/2000/svg", "circle")

        

        // Define todos os atributos de uma vez
        

        // drawArea.appendChild(circle)
      }
    }
    // drawRoutes()
  </script>
  <!-- <script type="module" src="../static/js/scripts.js"></script>
  <script type="module" src="../static/js/functions.js"></script> -->
</html>