<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
  <link href="../static/css/config-elements.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="conteiner-form-login">
    <img class="logo-form-login" src="../static/img/logo_rumo_branca.svg" alt="logo-rumo-log">
    <form class="form-login">
      <label for="entry-cs" class="label-for-entry-css">CS:</label>
      <input name="entry-cs" type="text" placeholder="CS000000" class="input-cs-login">
      <label for="entry-password" class="label-for-entry-password">Senha:</label>
      <input name="entry-password" type="password" placeholder="Senha fornecida pelo gestor"
        class="input-password-login">
      <button name="login-button" type="submit" class="input-submit-form-login">Entrar</button>
    </form>
  </div>
</body>
<script src="script.js"></script>
<script src="https://replit.com/public/js/replit-badge-v2.js" theme="dark" position="bottom-right"></script>

</html>